body {
    background-colorc: rgb(225, 161, 255);
    color: rgb(0,0,0);
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	#font-style: italic;
	font-size: 90%;
}

a {
	color: black;

}

a: hover {
	color: rgb(122, 163, 250);
}
